<html>
  <title>Register for an Account</title>
  <link rel="stylesheet" href="/pico.min.css" />
  <body>
    <main>
      <section class="container">
        <h1>Register for an Account!</h1>
      </section>
      <article id="article">
        <% if(typeof errors !== 'undefined') { %>
          <div class="container">
              <% errors.forEach(function(error) { %>
                <strong style="color: red"><%= error.msg %></strong><br />
              <% }); %>
              <br />
          </div>
        <% } %>
        <form action="/register" method="POST">
          <div>
            <label for="username">Username:</label>
            <input
              type="text"
              name="username"
              placeholder="Enter a unique username"
              aria-label="Username"
              required
            />
          </div>
          <div>
            <label for="password">Password :</label>
            <input
              type="password"
              name="password"
              minlength="10"
              aria-invalid="<%= typeof errors === 'undefined' %>"
              required
            />
            <small>10 Characters Minimum</small>
            <fieldset>
              <label for="agree">
                <input type="checkbox" name="agree" required />
                <a href="/tos"><strong>Agree to Terms of Service</strong></a>
              </label>
            </fieldset>
          </div>
          <input type="submit" value="Register" />
        </form>
      </article>
      <footer class="container">
        Have an account already? <strong><a href="/">Login</a></strong>
      </footer>
    </main>
  </body>
</html>
