<html>
<body bgcolor="lightgreen">

<h1> Welcome to your account, <%= username %> !</h1>
<br><br>

<h2>  <%= username %>'s messages </h2><br>
This is information about your messages! <br><br>

<h2>  <%= username %>'s settings </h2><br>
This is information about your settings!
<br><br>

<a href="/logout"> Logout</a>

</body>
</html>
