<html>
<title> Sessions demo </title>
<body bgcolor="lightblue">
<h1>Welcome to the sessions demo!</h1>
<br>

<form action="/login" method="post">
  User name:<br>
  <input type="text" name="username" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</form>

</body>
</html>
